# JIRA Configuration Template
# Copy this file to .env and fill in your actual credentials
# DO NOT commit .env file to version control!

# JIRA Instance URL
JIRA_URL=https://jira-sd.mc1.oracleiaas.com

# Your JIRA username/email
JIRA_USERNAME=jyotirdipta.das@oracle.com

# Your JIRA API token
# Generate at: https://id.atlassian.com/manage-profile/security/api-tokens
JIRA_API_TOKEN=<JIRA_TOKEN>

# Optional: Maximum number of results to fetch (default: 100)
MAX_RESULTS=100


# Active JQL Query
#JQL_QUERY=(text ~ metricsV2.EXADATA.dbaas.patchCloudExaInfra.APPLY.WORKER.Failure OR text ~ metricsV2.EXADATA.dbaas.patchExacs.APPLY.WORKER.Failure) AND labels in (oneview_triagex_started,oneview_triagex_success,oneview_triagex_failed) AND created >= -3d ORDER BY created DESC

#JQL_QUERY='project in (DBAASOPS,EXACSOPS) AND Severity in (1, 2, 3) AND created >= -6d and ( summary ~ "*patchCloudExaInfra*" or summary ~ "*patchExacs*") and not (labels = oneview_autocut_handled )'

JQL_QUERY='project in (DBAASOPS,EXACSOPS,EXACCOPS) AND labels = oneview_triagex_inprogress AND created >= -10d'

# Active JQL Query
#JQL_QUERY=(text ~ metricsV2.EXADATA.dbaas.patchCloudExaInfra.APPLY.WORKER.Failure OR text ~ metricsV2.EXADATA.dbaas.patchExacs.APPLY.WORKER.Failure) AND labels in (oneview_triagex_started,oneview_triagex_success,oneview_triagex_failed) AND created >= -3d ORDER BY created DESC

#JQL_QUERY='project in (DBAASOPS,EXACSOPS) AND Severity in (1, 2, 3) AND created >= -6d and ( summary ~ "*patchCloudExaInfra*" or summary ~ "*patchExacs*") and not (labels = oneview_autocut_handled )'

JQL_QUERY='project in (DBAASOPS,EXACSOPS,EXACCOPS) AND labels = oneview_triagex_inprogress AND created >= -10d'

# Email Configuration (optional - if not set, email will be skipped)
# SMTP server hostname (plain SMTP on port 25, no TLS, no authentication)
EMAIL_SMTP_SERVER=internal-mail-router.oracle.com

# Sender email address
EMAIL_FROM=jyotirdipta.das@oracle.com

# Comma-separated list of recipient email addresses
#EMAIL_TO=jyotirdipta.das@oracle.com,lata.kannan@oracle.com
EMAIL_TO=jyotirdipta.das@oracle.com,lata.kannan@oracle.com,parth.mittal@oracle.com,atith.nikeshkumar.gandhi@oracle.com,nishtha.g.goel@oracle.com

# Email subject line (defaults to 'JIRA Status Report' if not set)
EMAIL_SUBJECT=TriageX JIRA Analysis Report